<div class="container mt-3">
  <%# <div class="d-flex justify-content-between align-items-center"> %>

    <h1>Restaurants</h1>
    <%= link_to new_restaurant_path, class: 'text-dark' do %>
      <i class="fas fa-plus-square btn-light"></i>
    <% end %>
    <ul>
     <% @restaurants.each do |restaurant| %>
     <li><%= restaurant.name %></li>
    <% end %>
    </ul>
  </div>
</div>
